.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh; 
  }
  
  .icon-container {
    display: flex;
  }
  
  .icon {
    width: 50px; 
    margin: 0 10px; 
  }
  
  .icon.hovered {
    filter: brightness(150%);
  }
  