.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the footer container take up the full viewport height */
  }
  
  .icon-container {
    display: flex;
  }
  
  .icon {
    width: 50px; /* Adjust the size of the icons as needed */
    margin: 0 10px; /* Add some spacing between the icons */
  }
  
  .icon.hovered {
    filter: brightness(150%);
  }
  