.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #EC8254;
  }


.navbar-name {
    width: 200px; 
    padding-right: 20px;
    padding-left: 17px;
    color: #275D85;
  
  }

  
  .nav-item {
    padding: 5px 10px;
    font-size: 28px;
    text-decoration: none;
    border: none; 
  }
  
  .nav-item:hover {
    color: red;
  }

  @media (max-width: 768px) {
    .nav-tabs {
      flex-direction: column; 
      justify-content: center; 
      text-align: center; 
    }
  
    .nav-link {
      font-size: 20px; 
      margin-bottom: 10px; 
    }
  }