#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}








/* new one

      https://coolors.co/313e56-b34f53-e2bd9b-275d85-ec8254




      <!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="049492792407284125">new CoolorsPaletteWidget("049492792407284125", ["313E56","B34F53","E2BD9B","275D85","EC8254"]); </script>


      - Tailwind

{ 'delft_blue': { DEFAULT: '#313E56', 100: '#0a0c11', 200: '#131822', 300: '#1d2533', 400: '#273143', 500: '#313e56', 600: '#4c6084', 700: '#6f85ac', 800: '#9fadc8', 900: '#cfd6e3' }, 'redwood': { DEFAULT: '#B34F53', 100: '#241010', 200: '#491f21', 300: '#6d2f31', 400: '#923e41', 500: '#b34f53', 600: '#c37376', 700: '#d29698', 800: '#e1b9ba', 900: '#f0dcdd' }, 'desert_sand': { DEFAULT: '#E2BD9B', 100: '#3b2611', 200: '#774b22', 300: '#b27134', 400: '#d19761', 500: '#e2bd9b', 600: '#e8cbb0', 700: '#eed8c4', 800: '#f4e5d7', 900: '#f9f2eb' }, 'lapis_lazuli': { DEFAULT: '#275D85', 100: '#08131b', 200: '#102536', 300: '#173851', 400: '#1f4a6c', 500: '#275d85', 600: '#3681bb', 700: '#62a1d2', 800: '#97c1e1', 900: '#cbe0f0' }, 'coral': { DEFAULT: '#EC8254', 100: '#3a1606', 200: '#742c0d', 300: '#ae4213', 400: '#e6581b', 500: '#ec8254', 600: '#f09b77', 700: '#f4b499', 800: '#f7cdbb', 900: '#fbe6dd' } }

- CSV

313E56,B34F53,E2BD9B,275D85,EC8254

- With #

#313E56, #B34F53, #E2BD9B, #275D85, #EC8254

- Array

["313E56","B34F53","E2BD9B","275D85","EC8254"]

- Object

{"Delft Blue":"313E56","Redwood":"B34F53","Desert sand":"E2BD9B","Lapis Lazuli":"275D85","Coral":"EC8254"}

- Extended Array

[{"name":"Delft Blue","hex":"313E56","rgb":[49,62,86],"cmyk":[43,28,0,66],"hsb":[219,43,34],"hsl":[219,27,26],"lab":[26,2,-16]},{"name":"Redwood","hex":"B34F53","rgb":[179,79,83],"cmyk":[0,56,54,30],"hsb":[358,56,70],"hsl":[358,40,51],"lab":[47,41,18]},{"name":"Desert sand","hex":"E2BD9B","rgb":[226,189,155],"cmyk":[0,16,31,11],"hsb":[29,31,89],"hsl":[29,55,75],"lab":[79,8,22]},{"name":"Lapis Lazuli","hex":"275D85","rgb":[39,93,133],"cmyk":[71,30,0,48],"hsb":[206,71,52],"hsl":[206,55,34],"lab":[38,-4,-28]},{"name":"Coral","hex":"EC8254","rgb":[236,130,84],"cmyk":[0,45,64,7],"hsb":[18,64,93],"hsl":[18,80,63],"lab":[65,37,42]}]

- XML

<palette>
  <color name="Delft Blue" hex="313E56" r="49" g="62" b="86" />
  <color name="Redwood" hex="B34F53" r="179" g="79" b="83" />
  <color name="Desert sand" hex="E2BD9B" r="226" g="189" b="155" />
  <color name="Lapis Lazuli" hex="275D85" r="39" g="93" b="133" />
  <color name="Coral" hex="EC8254" r="236" g="130" b="84" />
</palette> */ */